main {
    flex-direction: row;
    user-select: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/placaDado.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding-top: 10vh;
    padding-left: 10vh;
    height: 90vh;
    width: 50vw;
}

.formulario button {
    width: 30%;
    height: 40px;
    background-color: #BF3A53;
    color: #D9D9D9;

    font-size: 1.3em;
    font-weight: 600;
    font-family: "Crimson Text", serif;

    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

#div_Voltar {
    display: flex;
    margin-left: 15%;
    align-self: flex-start;
    align-items: center;
    width: fit-content;
    gap: 10px;
    cursor: pointer;
}

#div_Voltar p {
    color: #D9D9D9;
    font-size: 1.3em;
    font-weight: 600;
}

#div_Voltar img {
    width: auto;
    height: 25px;
    margin-right: 10px;
}

.dados {
    
}