/* Estilo que eu quero implementar */

/* 

*{
    box-sizing: border-box;
}

main {
    padding-top: 15vh;
}

section {
    padding-left: 7%;
    padding-right: 7%;
} 

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.carrossel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carrossel input {
    display: none;
}

.cardLista {
    position: relative;
}

.cardLista .cardItem {
    list-style: none;
}

.cardLista .cardItem .cardLink {
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.cardLista .cardItem .cardLink:hover {
    border-color: #5372F0;
}

.cardLista .cardLink .cardImagem {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.cardLista .cardLink .badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDe4FF;
    width: fit-content;
}

.cardLista .cardLink .badge.DnD {
    color: #090708;
    background: #D7B89E;
}

.cardLista .cardLink .badge.OP {
    color: #BF3A53;
    background: #090708;
}

.cardLista .cardLink .badge.T20 {
    color: #090708;
    background: #BF3A53;
}

.cardLista .cardLink .cardTitulo {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.cardLista .cardLink .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.cardLista .cardLink:hover .card-button {
    color: #fff;
    background: #5372F0;
}

.navegacaoManual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%; 
}

#radio3:checked ~ .first {
    margin-left: -200%; 
}

.navegacaoAutomatica div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacaoAutomatica {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacaoAutomatica div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navegacaoAutomatica .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navegacaoAutomatica .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked ~ .navegacaoAutomatica .auto-btn3 {
    background-color: #FFF;
}
 */

/* Slider funcional abaixo */

/* .slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
}

.navegacaoManual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navegacaoAutomatica div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacaoAutomatica {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacaoAutomatica div:not(:last-child) {
    margin-right: 40px;
}

#radio:checked ~ .navegacaoAutomatica .auto-btn1 {
    background-color: #fff;
}

#radio:checked ~ .navegacaoAutomatica .auto-btn2 {
    background-color: #fff;
}

#radio:checked ~ .navegacaoAutomatica .auto-btn3 {
    background-color: #fff;
} */

/* Situação atual */

/* * {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1a1a1a; 
    margin: 0;
} */

main {
    padding-top: 15vh;
    font-family: "Crimson Text", serif;
}

section {
    padding-left: 7%;
    padding-right: 7%;
}

.informainformaçõesRPG {
    display: flex;
    margin-top: 5vh;
}

.informainformaçõesRPG p{
    font-size: 1.3rem;
    margin-top: 2vh;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 50vh;
    margin-top: 5vh;
}

.card {
    display: flex;
    width: 25%;
    height: 100%;
}

.cardItem {
    list-style: none;
    flex: none;
    width: 100%;
    height: 100%;
}

.cardLink {
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    background: #333; /* Fundo dos cards */
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cardLink p, .cardLink h2 {
    margin-left: 20px;
}

.cardLink:hover {
    transform: scale(1.05);
}

.cardImagem {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-bottom: 2px solid #444; /* Linha separadora */
}

.badge {
    display: inline-block;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 16px 0;
    background: #5372F0;
    border-radius: 12px;
}

.badge.DnD {
    background: #D7B89E;
    color: #090708;
}

.badge.OP {
    background: #090708;
    color: #BF3A53;
}

.badge.T20 {
    background: #BF3A53;
    color: #090708;
}

.cardTitulo {
    font-size: 1.2rem;
    color: #FFF;
    margin: 10px 0;
    font-weight: bold;
}

.card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    transition: background-color 0.3s, color 0.3s;
}

.card-button:hover {
    background-color: #5372F0;
    color: white;
}

.manual-btn {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.manual-btn:hover {
    transform: scale(1.2);
    background-color: #fff; 
}

#radio1:checked ~ .cardLista {
    margin-left: 0;
}

#radio2:checked ~ .cardLista {
    margin-left: -100%;
}

#radio3:checked ~ .cardLista {
    margin-left: -200%;
}

.navegacaoManual {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10; 
}

.paiGráficos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Gráficos {
    width: 25vw;
}

/* Vídeo referências

https://www.youtube.com/watch?v=VUtJ7FWCfZA
https://www.youtube.com/watch?v=BpzyuuPIEaQ

*/