body {
    margin: 0;
    background-color: #120E10;
}


/* Header */
header {
    position: fixed;
    background-color: #090708;
    width: 100%;
    height: 10vh;
    user-select: none;
}

header nav {
    display: flex;
    height: 100%;
    color: #D7B89E;
    justify-content: space-around;
    align-items: center;

    font-family: "Crimson Text", serif;
    font-size: large;
    font-weight: 600;
}

header .logo {
    height: 80%;
    cursor: pointer;
}

header .logo img {
    height: 100%;
}

header .links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

header a {
    text-decoration: none;
    color: #D7B89E;
}

header a:hover {
    color: #BF3A53;
    transition: 0.3s;
}

header button {
    font-family: "Crimson Text", serif;
    font-size: large;
    font-weight: 600;

    background-color: #D7B89E;
    color: #120E10;
    padding: 5px 30px;

    border: none;
    border-radius: 7px;
    cursor: pointer;
}

/* Body */
main {
    display: flex;
    flex-direction: column;
    color: #D7B89E;
    min-height: 84vh;
    height: auto;

    font-family: "Crimson Text", serif;
}

/* Footer */
footer {
    display: flex;
    height: 8vh;
    margin-top: 8vh;
    justify-content: space-around;
    align-items: center;
    background-color: #090708;
    font-family: "Crimson Text", serif;
    color: #D7B89E;
}

.footerInicio {
    display: flex;
    justify-content: center;
    width: 40%;
}

.footerMeio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50%;
    border-left: #D7B89E 1px solid;
    padding: 0px 50px;
}